
/* Задаем ширину меню */
.menu {
    margin: 0;   /* Убираем отступы */
    padding: 0;  /* Убираем отступы */
    height: auto;
}

/* Стили для наших пунктов меню */
.menu ul {
    list-style: none;
}

.menu li {
    list-style: none;
    /*display: block;*/
    /*line-height: 62px;*/
    height: 32px;
    margin: 4px;
    width: 200px;
    /*float: left;*/
}

.menu li a {
    display: block;
    height: 33px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    padding: 0 0 0 15px;
    text-decoration: none;
    color: #006A35;
    background: #95DF8E;
    border: solid 1px #006A35;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Подсветка наведденого пункта */
.menu li a:hover {
    background: #95DF8E;
    color: yellow;
    text-decoration: underline;
}

#menu_hor li {
    list-style: none;
    /*display: inline-block;*/
    /*line-height: 62px;*/
    height: 20px;
    margin: 4px;
    padding-bottom: 20px;
    /*width: 206px;*/
    float: left;
}
i {
    color: red;
}

div.scroll-table {
    width: 217px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;

}

div.scroll-table a {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #95DF8E;
}

div.scroll-table a:hover {
    background: #006A35;
    color: yellow;
}
.clearfix{
    clear: both;
}
.layout {
    /*width: 980px; margin: auto;*/
    position: relative; /* Относительное позиционирование */
}
.sidebar {
    background: #C6DD7D; /* Цвет фона */
    width: 240px; /* Ширина колонки */
    position: absolute;
    float: left;
}
.content {
    padding: 20px;
    border: solid 1px #006A35;
    /*background: #F4ECCE; /!* Цвет фона *!/*/
    margin-left: 510px; /* Сдвиг вправо */
    width: 800px;
    position: absolute;
}
.leftstr, .rightstr {
    float: left; /* Обтекание справа */
    width: 50%; /* Ширина текстового блока */
}
.rightstr {
    text-align: right; /* Выравнивание по правому краю */
}
